/* ====================================
    Base Element Styles
=====================================*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

 body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     line-height: 1.6;
     color: rgb(3, 2, 0);
     background-image: url(Images/noise.jpg);
     background-color: #cccccc;
     background-size: cover;
 }
 
 p {
     font-size: .95em;
     margin-bottom: 1.5em;
     color: blue
 }
 
 h2,
 h3 {
     color: white
 }
 
 a {
     color: white
 }
 
 h2,
 h3 {
     margin-top: 0;
 }
 
 a {
     text-decoration: none;
 }
 
 button {
    background: #dae1e4;
    border: none;
    border-radius: 5px;
    color: #1d3c6a;
    font-size: 24px;
    width: 480px;
    padding: 40px 0;
    margin: 0px -20px;
    outline: none;
    cursor: pointer;
  }

  .supply {
	background: #1d3c6a;
  width: 440px;
  margin: 0 auto 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 24px
}
.supply span {
  color: #dae1e4;
  display: block;
  padding: 40px 20px;
}
 /*=======================================
 Base Layout Styles
 =======================================*/
 
 /*----Layout Containers----*/
 
 .wrapper {
     padding-left: 1em;
     padding-right: 1em;
 }

 .main-header {
     text-align: center;
     padding-top: 1.5em;
     padding-bottom: 1.5em;
     background: purple;
     margin-bottom: 10px;
     border-bottom: 20px solid red;

 }
 
 .main-footer {
     text-align: center;
     padding: 2em 0;
     background: grey;
     margin-top: 30px;
 }
 
 
 /*----Navigation----*/
 
 .name {
     font-size: 1.25em;
     margin: 0;
 }
 
 .main-nav {
     margin-top: 5px;
 }
 
 .name,
 .main-nav li {
     text-align: center;
     background: black;
     margin-top: 6px;
     margin-bottom: 6px;
 }
 
 .main-nav a {
     font-size: .95em;
     color: #fff;
     text-transform: uppercase;
 }
 
 .main-nav a:hover {
     color: #09ea58;
 }
 
 .name a,
 .main-nav a {
     text-align: center;
     padding: 5px 2px;
     display: block;
     font-size: 1em;
 }
 
 /* Attribute Selectors --------------*/
 
 
 
 /*=======================================
 Media Queries
 =======================================*/
 
 @media (min-width: 769px) {
 
     body{
         padding-top: 144px;
        }
 
     .wrapper{
         width: 80%;
         max-width: 1150px;
         margin:0 auto;
     }
     
     .main-header {
         position: fixed;
         width: 100%;
         top: 0;
         z-index: 1000;
     
     }
 }
     
     .name, 
     .col {
         float: left;
     }
     
     .column {
        width: 440px;
        margin: 0 auto 20px;
        border-radius: 5px;
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
        padding-right: 1em;
        padding-left: 1em;
     }
 
     .primary,
     .secondary {
         width: 50%;
     }
 
     .main-nav {
         float: right;
     }
     .main-nav li {
         display: inline-block;
         margin-left: 15px
     }
 
     .wrap {
         min-height: calc(100vh - 89px);
     }
 
     .name {
         width: 240px;
     }

 
 
 @media (min-width: 1025px){
 
     .wrapper {
         width: 80%;
         max-width: 1150px;
     }
 }
 
 /* --- Columns ---*/
 

/* --- Float clearfix ---*/
 
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }


/*===========================
Flexbox Layout
===========================*/

.main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-header {
    justify-content: space-between;
}

.main-nav, .main-header {
    flex: 1;
    justify-content: space-around;
}

